*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
body {
    background-color: #663369;
    background-image: none;
    color: black;
}
#header {
    color: #000000;
}
#header{
    color: #fff;
    position: relative;
    z-index: 99;
}
nav {
    display: block;
}