*{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
 body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      background: #000;
    }

    .swiper-slide {
      font-size: 18px;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }

    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }

    .swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }

    .swiper-slide .subtitle {
      font-size: 21px;
    }

    .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }
nav{
    z-index: 2;
    position: fixed;
    height:80px;
    width:100%;
    background:rgba(34, 34, 34,0.7);

}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color:white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav li {

    display: inline-block;
    margin: 0 8px;
    line-height:80px;
}

nav a{

    color:white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px ;
}
a.active,a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #icon{
    color:white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px) {
    label.logo{
        font-size: 32px;
        padding-left:60px ;
    }
nav ul{
    margin-right: 20px;
}
nav a{
    font-size: 17px;
 }
}
@media  (max-width: 909px) {
    nav #icon {
        display: block;
    }

    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #111111;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {

        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    a.active, a:hover {
        border: none;
        color: rebeccapurple;
    }

    nav ul.show {
        left: 0;
    }


}
section {
    background: url(kniga_chb_siluet_142959_1920x1080.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);

}

section.element-top-background{

    background: url(kniga_iabloko_frukt_197152_1920x1080.jpg) no-repeat;
    background-size: cover;
    height: calc(100 - 80vh );
    margin-top:0;
    margin-bottom:0;
    padding: 25px 0 0;
}
.element-container-row{

}
.elementor-column-warp {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

p {
    Color:white;
    line-height: 1.5;
    margin: 0 0 1em;
}
.elementor-column-elementor-col-100{

    position: absolute;
    top: 140%;
    left: 50%;
    margin-right: 0.5%;
    transform: translate(-50%, -50%);



}
.editor-text-full{
    text-align: left;
    padding-top: 20px;
    font-weight: inherit;
    background:rgba(34, 34, 34,0.7);


}
.elementor-widget-text-editor{
    align-items: center;
    background:rgba(34, 34, 34,0.7);

    padding: 10px;
}
h1{
    padding-top: 10px;
}